/AddDashboardPage.class
/ClinicalProfileHealthMaintenancePage.class
/ClinicalProfileObservationsPage.class
/ClinicalProfilePage.class
/GlobalMenuPage.class
/HealthMaintenanceAddScreeningPage.class
/HealthMaintenanceAddSmokingStatusPage.class
/MasterPage.class
/NewPatientPage.class
/PatientChartTabPage.class
/PatientPage.class
/PatientSearchPage.class
/PatientSearchWidgetPage.class
/SetMyLocationPage.class
/SignOnPage.class
/TemplatePage.class
/UsersDashboardPage.class
